.row {
  max-width: $grid-width--small;
  margin: 0 auto;
  @include respond(tab-land) {
    max-width: 90rem;
    margin: 0 auto;
  }
  @include respond(tab-port) {
    max-width: 80rem;
    margin: 0 auto;
  }
  @include respond(tab-landsmall) {
    max-width: 70rem;
    margin: 0 auto;
  }
  @include respond(phone) {
    max-width: 60rem;
    margin: 0 auto;
  }
  @include respond(phone-large) {
    max-width: 40rem;
    margin: 0 auto;
  }
  &:not(:last-child) {
    margin-bottom: $gutter-vertical--extrasmall;
    &--margin-bottom-small {
      margin-bottom: 0;
    }
    @include respond(phone) {
      margin-bottom: 4rem;
    }
  }
  @include clearfix;
  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal--extra-small;
      @include respond(tab-landsmall) {
        margin-right: 2rem;
      }
      @include respond(phone) {
        margin-right: 4rem;
      }
      @include respond(phone-large) {
        margin-right: 4rem;
      }
    }
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal--small}) / 3);
    @include respond(phone) {
      width: calc((100% - 2 * 4rem) / 3);
    }
    @include respond(phone-large) {
      width: calc((100% - 2 * 2rem) / 3);
    }
  }
  
  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$gutter-horizontal--extra-small}) / 3) + #{$gutter-horizontal--extra-small}
    );

    @include respond(phone) {
      width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem);
    }
    @include respond(phone-large) {
      width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem);
    }
  }
}
